{% extends "core/base.html" %}

{% block title %}Index{% endblock title %}

{% block css %}
.post-container {
    width: 40%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
hr {
    border: none;
    border-top: 1px solid #333;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex: 1;
}

.username {
    font-weight: bold;
}

.post-date {
    color: #333;
}

.author-comment {
    margin-bottom: 10px;
}

.post-image {
    margin-bottom: 10px;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.comments {
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 5px;
}
.actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.like-btn {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #0faae4;
    cursor: pointer;
}
 .dislike-btn {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    cursor: pointer;
 }

.like-btn:hover {
    background-color: #0e99cd;
}
.dislike-btn:hover {
    background-color: #db0202;
}
.not {
    color: red;
    text-align: center;
}
{% endblock css %}


{% block content %}
{% comment %} {% if not user.is_authenticated %}
<div class="post-container not">
<h1>! WARNING !</h1>
<h2>To access the full functionality of the site, please:</h2>
<h2><a href="{% url "users:registration" %}">create</a> or <a href="{% url "users:login" %}">sign in</a> into your account!</h2>
</div>
{% endif %} {% endcomment %}
{% if posts %}
    {% for post in posts %}
        <div class="post-container">
            <div class="post-header">
                <img src="{{ post.author.avatar.url }}" alt="Avatar" class="post-author-image">
                <div class="user-info">
                    <span class="post-username">@{{ post.author.username }} |</span>
                    <span class="post-date">{{ post.date }} |</span>
                    <span class="post-rating">Rating: {{ post.likes|add:post.dislikes }}</span>
                    <hr>
                </div>
            </div>
            <div class="author-comment">
                <p>{{ post.text }}</p>
            </div>
            {% if post.image %}
                <div class="post-image">
                    <img src="{{ post.image.url }}" alt="Post Image" class="main-image">
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="actions">
                    {% if user not in post.liked_by.all and user not in post.disliked_by.all %}
                    <form action="{% url "core:like" post.id %}" method='post'>
                        {% csrf_token %}
                        <button class="like-btn">Like</button>
                    </form>
                    <form action="{% url "core:dislike" post.id %}" method='post'>
                        {% csrf_token %}
                        <button class="dislike-btn">Dislike</button>
                    </form>
                    {% endif %}
                    {% if user in post.liked_by.all %}
                    <form action="{% url "core:superUn" post.id %}" method='post'>
                    {% csrf_token %}
                    <button class="like-btn">Unlike</button>
                    <form action="{% url "core:dislike" post.id %}" method='post'>
                        {% csrf_token %}
                        <button class="dislike-btn">Dislike</button>
                    </form>
                    {% endif %}
                    {% if user in post.disliked_by.all %}
                    <form action="{% url "core:like" post.id %}" method='post'>
                        {% csrf_token %}
                        <button class="like-btn">Like</button>
                    </form>
                    <form action="{% url "core:superUn" post.id %}" method='post'>
                        {% csrf_token %}
                        <button class="dislike-btn">Undislike</button>
                    </form>
                    {% endif %}
                </div>
            {% endif %}
            {% if post.post_comments %}
                {% for comment in post.post_comments.all %}
                <div class="comments">
                    <div class="comment">
                        <hr>
                        <span>@{{ comment.author.username }}</span>
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <p>Nothing</p>
            {% endif %}
            {% if user.is_authenticated %}
            <hr>
            <div class="new-comment">
                <form action="{% url 'core:new-comment' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="comment" name="comment" placeholder="Leave a comment">
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}