{% extends "users/base.html" %}

{% block title %}Registration{% endblock title %}
{% block css %}
.reg-form {
    text-align: center;
}
{% endblock css %}


{% block content %}
<form action="{% url "users:registration" %}" class="reg-form" method='post'>
  {% csrf_token %}
    <div class="container">
      <h1>Registration</h1>
      {% if message %}
      <p>{{ message }}</p>
      {% else %}
      <p>Fill this form to create an account.</p>
      {% endif %}
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw_repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" required>
      <hr>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="{% url "users:login" %}">Sign in.</a></p>
    </div>
  </form>
{% endblock content %}